.search-app {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5; /*white smoke*/
  min-height: 100vh; /*요소의 최소 높이 지원*/
  padding: 2em;
}

.center-fixed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

/* .logo-container {
  margin-bottom: 0.5em;
}

.logo-under-text {
  font-size: 15px;
  color: rgb(135, 135, 135);
} */

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em; /* space between input and button */
  margin-bottom: 1em;
  justify-content: center;
}

.inputName {
  padding: 0.6em 1em;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  width: 570px;
  margin-right: 3px;
}

.search-type {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0.5em 1em;
  font-size: 0.9em;
  width: 110px;
}

.search-button {
  padding: 0.6em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  background-color: rgb(0, 0, 0);
  transition: background-color 0.2s ease-in-out;
}

button {
  padding: 0.6em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  color: white;
  background-color: rgb(0, 0, 0);
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: orange;
}

.history-container {
  background-color: #fff;
  padding: 2em;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.history-container h3 {
  margin-bottom: 1em;
}

.history-container ul {
  list-style-type: none;
  padding-left: 0;
}

.history-container li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding: 0.5em 0;
}

.query-item {
  cursor: pointer;
  color: #007bff;
  transition: color 0.2s ease-in-out;
}

.query-item:hover {
  color: #0056b3;
}

.date-item {
  margin-left: 1em;
  font-size: 0.9em;
  color: #888;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-text {
  font-size: 13px;
  color: rgb(135, 135, 135);
}
