.button-container button {
  background-color: black;
  color: white;
  margin: 5px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: medium;
}

.button-container button.selected {
  background-color: orange;
  color: black;
  font-size: medium;
}
