.search-app {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5; /*white smoke*/
  min-height: 100vh; /*요소의 최소 높이 지원*/
  padding: 2em;
}

.center-fixed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

.logo-container {
  margin-bottom: 0.5em;
}

.logo-under-text {
  font-size: 15px;
  color: rgb(135, 135, 135);
}

/* 검색 결과 컨테이너 스타일 */
.search-result-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

/* 검색 결과 헤더 스타일 */
.search-results-header {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* 검색 결과 아이템 스타일 */
.search-result {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
}

/* 검색 결과 제목 스타일 */
.search-result h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

/* 저자 정보 스타일 */
.authors {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}

/* 초록 정보 스타일 */
.abstract {
  font-size: 18px;
  color: #444;
}

/* 검색 결과가 없는 경우 메시지 스타일 */
.no-results-message {
  font-size: 20px;
  color: #ff0000;
}
